/* Header.css */

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: default;
}

.header-logo {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
